$cardBackground: radial-gradient(#5f606b, #3d4352 85%);

.commands {
    display: flex;
    flex-direction: column;
    font-family: Poppins;
    width: 84%;
};

.commands .card {
    overflow: hidden;
    width: 100%;
    max-height: 50px; 
    background: $cardBackground;
    transition: max-height 0.5s ease-in-out;
};

.commands .card .top {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 10px;
};

.commands .card .leftSide {
    display: flex;
    align-items: center;
    gap: 15px;
    color: white
};

.commands .card .leftSide i {
    background: #5e626e;
    width: 30px; height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
};

.commands .card .rightSide i {
    color: #17ffd1;
    font-size: 12px;
    background-color: #216568;
    padding: 5px;
};

.commands .card .top:hover { background: linear-gradient(#1aceaa, #216568); };
.commands .card .top:hover .leftSide i { background-color: #216568; };

.commands .card .options { padding: 10px; display: flex; gap: 10px; width: fit-content; };
.commands .card .options .option { display: flex; flex-direction: column; gap: 10px };

.commands .card .options .option .label {
    font-size: 15px;
    color: #b9b9b9;
    font-weight: 300;
};

.commands .card .options .option input:focus { outline: none }
.commands .card .options .option input[type="number"] { appearance: none; -moz-appearance: textfield; }
.commands .card .options .option input {
    padding: 5px 10px;
    background: radial-gradient(#5c5f68, #494c53);
    border: solid 1px #626670;
    border-radius: 2px;
    color: #a7a7a7;
    font-family: Poppins;
    width: 250px;
};

.commands .card .options button {
    width: fit-content;
    padding: 5px 12px;
    font-family: Poppins;
    background-color: #216568;
    color: #17ffd1;
    border: none;
    cursor: pointer;
}