$mainFontColor: #17ffd1;
$secondFontColor: #a8a8a8;
$mainBackground: #155355;
$navbarFont: #a8a8a8;

.header {
    font-family: Poppins;
    margin: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
};

.header::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1px;
    height: 1px;
    background: linear-gradient(
        to right,
        transparent,
        rgba(204, 204, 204, 0.5),
        transparent
    );
}

.header .logo { line-height: 21px; width: fit-content; padding-bottom: 15px; position: relative; };
.header .logo::after { content: ''; position: absolute; left: 0; right: 0; bottom: 0; height: 3px; background-color: $mainFontColor; filter: drop-shadow(0 0 5px $mainFontColor); }
.header .logo .title { color: $mainFontColor; font-size: 20px; font-weight: 500; filter: drop-shadow(0 0 10px $mainFontColor) };
.header .logo .description { color: $secondFontColor; font-size: 15px; font-weight: 300 };

.header .navbar { display: flex; color: $navbarFont; font-size: 13px; };
.header .navbar .nav-item { padding: 5px 17px; cursor: pointer; z-index: 1; };
.header .navbar .nav-item.nav-active { background-color: $mainBackground; color: $mainFontColor; position: relative; };
.header .navbar .nav-item.nav-active::after { content: ''; position: absolute; left: 0; right: 0; bottom: -14px; height: 3px; background-color: $mainFontColor; filter: drop-shadow(0 0 5px $mainFontColor); };

.header .search-wrapper { position: relative; display: inline-block; };
.header .search-wrapper i { position: absolute; right: 0.8rem; top: 50%; transform: translateY(-50%); pointer-events: none; color: #90949b; font-size: 13px };

.header input[type="text"] { width: 220px; font-family: Poppins; padding: 7px 12px; background: radial-gradient(#4f545c, #42454b); border: solid #696969 1px; color: #a8a8a8; border-radius: 2px };
.header input[type="text"]:focus { outline: none; };
.header input[type="text"]::placeholder { color: #90949b; };

.header .exit { display: flex; font-size: 14px; color: $secondFontColor; background: #4f545c; border-radius: 2px; padding: 2px };
.header .exit p { padding: 2px 10px; border-radius: 2px };
.header .exit p:nth-child(1) { background-color: #282b35 };